---
import { Image } from "astro:assets";
import IconGithub from "./icons/icon-github.svelte";
import Logo from "./logo.svelte";
---

<header
  class="h-20 justify-between backdrop-blur-md saturate-200 bg-black/30 backdrop-brightness-100 flex gap-10 items-center sm:px-10 px-5 fixed w-screen z-10"
>
  <Logo />

  <div class="flex md:gap-10 gap-5 items-center">
    <a href="https://www.buymeacoffee.com/milanjaritz" target="_blank">
      <Image
        alt="Buy Me A Coffee"
        src="/bmc-button.png"
        width={162}
        height={45}
        class="block"
      />
    </a>

    <a href="https://github.com/macmillen/gfn-epic" target="_blank">
      <IconGithub />
    </a>
  </div>
</header>

<div class="h-20"></div>
