---
import IconGithub from "./icons/icon-github.svelte";
import Logo from "./logo.svelte";
---

<header class="h-20 bg-zinc-900 flex items-center px-10 fixed w-screen">
  <Logo />

  <div class="grow"></div>

  <a href="https://github.com/macmillen/gfn-epic" target="_blank">
    <IconGithub />
  </a>
</header>

<div class="h-20"></div>
