---
import IconNvidia from "./icons/icon-nvidia.svelte";
---

<p
  class="text-center mb-10 sm:text-xl py-10 px-5 sm:mx-20 text-zinc-300 font-bold from-zinc-800 via-zinc-600 to-zinc-800 bg-gradient-to-r"
>
  This is a list of all free games which come out every Thursday in the Epic
  Games Store. <br />
  The <IconNvidia class="inline text-green-500 mx-1 w-7" /> symbol shows if the game
  is available for GeforceNow.
</p>
