---
import Footer from "../components/footer.svelte";
import FreeGamesCounter from "../components/free-games-counter.svelte";
import GfnOnlySwitch from "../components/gfn-only-switch.svelte";
import Header from "../components/header.astro";
import Hero from "../components/hero.astro";
import InfoBar from "../components/info-bar.svelte";
import "../css/font.css";
import type { Card } from "../types";

export interface Props {
  title: string;
  gfnOnly: boolean;
  data: Card[];
  metaDescription: string;
}

const { title, gfnOnly, data, metaDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Hero />

    <InfoBar>
      <FreeGamesCounter games={data.length} />

      {
        gfnOnly ? (
          <GfnOnlySwitch href="/" checked />
        ) : (
          <GfnOnlySwitch href="/gfn-only" />
        )
      }
    </InfoBar>

    <slot />

    <Footer />
  </body>

  <script>
    import { countdown } from "../utils/countdown";

    setInterval(countdown, 1000);
  </script>
</html>

<style>
  body {
    @apply bg-zinc-800 text-zinc-200;
  }
</style>
